.nav-div{
    border-bottom: 1px solid rgb(165, 161, 161);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.6rem;
    
}
.logo-img{
    height: 2.3rem;
}
.search-div{
  border: 1px solid black;
  
}
.search-second-div{
    display: flex;
    align-items: center;
    
   height: 3.2rem;
   width: 33rem;
}
.input-box{
    height: 100%;
    width: 30rem;
    border: none;
    padding-left: 1rem;
    font-size: 1.3rem;
    background-color: #f3f4f5;
}
.search-icon{
   
    height: 97%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;

}

.icon-div{
   
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 3rem;
}
.icon-height{
    font-size: 1.3rem;
}