.footer-container{
    width: 100vw;
    height: 70vh;
    background-color: black;
    color: white;
}
.footer-up{
    
    display: flex;
    justify-content: space-around;
    height: 8rem;
    border-bottom: 1px solid wheat;
}
.footer-div{
   
    width: 20rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}
.footer-div img{
    margin-right: 0.5rem;
}
.footer-down{
 
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 5rem 4rem;
    border-bottom: 1px solid wheat;
}
.footer-down ul li{
gap: 2.3rem;
list-style: none;
}
.footer-down ul li {
    text-decoration: none;
    color: white;

}
.footer-link{
    color: white;
    text-decoration: none;
   
}

.last-footer{
    border: 1px solid white;
}